*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}

.bg-green {
  color: #019688;
}

.grey-text {
  color: #757575;
}

/* LEFT SIDE OF CARD */

#cv-template {
  width: 75%;
  margin: 0 auto;
}

.card-img-overlay {
  position: relative;
}

.jane-name {
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  bottom: 58px;
  left: 16px;
  margin: 0;
}

.contact-info {
  margin-top: -35px;
}

.skill-title {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  color: #757575;
}

.language-title {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  color: #757575;
}

.progress {
  border-radius: 7px;
}

.progress-bar {
  background-color: #019688 !important;
  border-radius: 7px;
  /* MIGHT NEED THIS */
  padding: 0.5rem 0;
}

/* RIGHT SIDE OF CARD */

.card-titles {
  font-size: 1.21rem;
  font-weight: 400;
}

span.current {
  color: #fff;
  background-color: #019688;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

.work p,
.expierence p {
  font-size: 1rem;
}

.contact-info p,
.skills .title,
h3.title,
p.title {
  display: inline-block;
}

/* BOTTOM RIGHT SIDE*/

.bottom-right-side {
  margin-top: 1.5rem;
}

/* FOOTER */

#footer {
  height: 13vh;
  background-color: #019688;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
