*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}

.bg-green {
  color: #019688;
}

.jane-name {
  margin-top: 220px;
  font-size: 2rem;
  font-weight: 400;
}

.contact-info p,
.skills .title,
h3.title,
p.title {
  display: inline-block;
}

#cv-template {
  width: 75%;
  margin: 0 auto;
}

/* BOTTOM RIGHT SIDE*/

.bottom-right-side {
  margin-top: 1.5rem;
}
